@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.btn-gray {
  @apply bg-gray-500 text-white px-2 py-1 rounded hover:bg-gray-600 text-center w-full !block;
}

.bim-component-container {
  @apply 
    flex flex-col space-y-3 absolute bottom-full mb-3 bg-white border border-gray-300 rounded-lg shadow-lg p-4 
    *:text-sm *:flex *:items-center *:justify-between;
}

.bim-component-guide {
  @apply flex-col items-start! list-disc list-inside;
}

.bottom-toolbar-chevron-up {
  @apply mb-1 hover:bg-gray-100 transition-all w-4 h-4 cursor-pointer;
}

.button-toolbar-button {
  @apply p-1 rounded transition-all;
}

.button-toolbar-button-active {
  @apply bg-blue-500 text-white shadow-md;
}

.button-toolbar-button-inactive {
  @apply bg-gray-100 text-gray-700 hover:bg-gray-200;
}
